body {
  background-color: #ffffff;
}

section {
  margin-top: 40px;
}

.glyphicon-remove:hover {
  cursor: pointer
}

.fc-embed-page-content {
  z-index: 3000; /* when embed into jumbotron, need bring login page to front */
}

.fc-page-content {
  position: relative;
  margin-bottom: 45px;
}

.fc-navbar-action {
  position: absolute;
  right: 15px;
  top: 5px;
}

/* make action buttons full height with the list item. */
.fc-listitem-action {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.fc-listitem-action .btn {
  height: 100%;
}

.fc-pomodoro-timer {
  color: red;
  font-size: 50px;
  text-align: center;
}

.fc-pomodoro-logo {
  position: relative;
  top: -170px;
  right: -200px;
}

.fc-feature-list .col-md-4, .col-sm-6 {
  margin-bottom: 22px;
}

.fc-feature-list h4 .fa:before {
  vertical-align: -10%;
  font-size: 28px;
  display: inline-block;
  width: 1.07142857em;
  text-align: center;
  margin-right: 5px;
}

.fc-row-space {
  margin-bottom: 15px;
}
/**------------------------------------------------
 * override Bootstrap/ace styles
 */
.jumbotron {
  color: #ffffff;
  position: relative;
  background: #1fa67a;
  border-top: 1px solid #34a782;
  border-bottom: 1px solid #1b926c;
  margin-bottom: 0;
  padding: 50px 0 40px;
}

.jumbotron a {
  color: #ffffff;
}

.jumbotron h1 {
  font-size: 80px;
  letter-spacing: -2px;
  line-height: 1;
  text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
  margin: 0 0 15px;
}

.navbar {
  position: relative;
  background: #1fa67a;
  border-width: 0 0 1px;
  border-color: #1b926c;
}

#footer {
  background-color: #1fa67a;
  border-top: 1px solid #1b926c;
  color: #a5d8c7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  min-height: 3em;
  position: relative;
}

/* Overwrite ul margin-left at ace.css:166 */
ul.nav {
  margin-left: 0;
}

/**------------------------------------------------
 * bootstrap-additions, for angular-strap use.
 * @version v0.3.1 - 2015-05-20
 * @link https://github.com/mgcrea/bootstrap-additions
 * @author Olivier Louvignes <olivier@mg-crea.com> (https://github.com/mgcrea)
 * @license MIT License, http://www.opensource.org/licenses/MIT
 */
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}

/*
 * Timepicker element
 */
.timepicker.dropdown-menu {
  padding: 0 4px;
}

.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}

.timepicker.dropdown-menu tbody button {
  padding: 6px;
}
/**
 * bootstrap-additions end
 * ------------------------------------------------ */
